/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ customcss */
/** customcss **/
/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/** layouts **/

    .layoutGallery .gridline[homepage-layout] {
      --grid-template-columns: max-content 1fr;
    }

    .CardListGrid {
      --card-max-width: 32em;
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--card-max-width), 100vh), 1fr));
    }
    .CardListGrid >* {
      --max-width: var(--card-max-width);
        margin-bottom: 1em;
    }

/** headers **/

    [header-logo] {
        padding: 0.25em 0.75em;
    }
    [header-logo] h1 {
        font-size: 2em;
    }

    [header-card] {
        font-size: 1.5em;
        text-align: center;
        padding: 0 0.75em;
        line-height: 1;
    }

/** menus **/

    .LinkmenuGrid {
        font-size: 1.5em;
        padding-right: 0.75em;
    }
    .LinkmenuGrid ul+ul {
        padding-top: 0.5em;
    }

    .LinkmenuGrid a:hover,
    .LinkmenuGrid a:active {
        color: var(--link-color, inherit);
    }
